## [Start] Setting "paymentAmount" to default value of "0". **
$util.qr($context.args.input.put("paymentAmount", $util.defaultIfNull($ctx.args.input.paymentAmount, 0)))
## [End] Setting "paymentAmount" to default value of "0". **
{}